
.cardMe {
  width: 100%;
  

  height: 600px;
  object-fit: contain;

  border: 3px solid black;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 180, 233, 1) 100%);
  border-radius: 20px;
  overflow: hidden;
  .muaVe {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 47, 0.8662815467984069) 71%,
      rgba(0, 212, 255, 1) 100%
    );

    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
    
    &:hover {
      background: rgb(63, 94, 251);
      background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 252, 84, 1) 100%);
   
      padding: 10px 30px;
      color: white;

 
    }
  }
  .parentTrailer {
    img {
      background: black;
    }

    &:hover {
      .trailer {
        display: inline-block;
      }
      .full {
        display: inline-block;
      }
    }
    .full {
      background: rgba(2, 0, 36, 0.5);
      // background: black;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
    }
    .trailer {
      transition: all 0.5s;
      display: none;
    }
    .anXem {
      padding: 30px;

      border-radius: 50%;
      border: 1px solid white;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
